---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    Autor: {{ page.author }}.<br />
    En la categoría: 
<a href="{{ site.baseurl }}/{{ page.category }}">{{ page.category }}</a><br />
    Publicado:
    <time datetime="{{ page.date }}">
      {{ page.date | date: '%-d' }} de {% assign m = page.date | date: '%-m' %}
      {% case m %} {% when '1' %}enero {% when '2' %}febrero {% when '3' %}marzo
      {% when '4' %}abril {% when '5' %}mayo {% when '6' %}junio {% when '7'
      %}julio {% when '8' %}agosto {% when '9' %}septiembre {% when '10'
      %}octubre {% when '11' %}noviembre {% when '12' %}diciembre {% endcase %}
      de {{ page.date | date: '%Y' }}
    </time>
  </div>

  <div class="entry">{{ content }}</div>

<div id="tags">
etiquetas:
<ul style="list-style-type: none;">
      {% for tag in page.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag }}">{{tag}}</a></li>
      {% endfor %}
</ul>
</div>

</article>
